@charset "utf-8";

html {
	min-height:100%; 
}
body{
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}
body span{
	font-weight:bold;
	color:  rgb(142,11,0);
}
.headerMain {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #d48bc8, #fff);
	padding: 10px;
	z-index: 9999;
}
  
header {
	width:100%;
  height: 100px;
  margin:0px auto;
  z-index:0;
}
.picture1 img  {
	border: 1px solid silver;
	 margin: 10px;
	 box-shadow: 0 0 10px silver;
}
.container1 {
	position: relative;
	height: 470px;
	
	padding: 25px ;
	overflow:hidden;
}
.container2{
	
	padding: 25px;
	overflow:hidden;
}
.logo h1 {
	
	font-size: 1.7em;
	letter-spacing: 0.2em;
	color: rgb(142,11,0);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	text-align: left;
	text-transform: uppercase;
	
	margin-bottom: 0;
}
 
.logo h4 {
	font-size: 1.0em;
	text-transform: uppercase;
	font-weight: bold;
	color:  rgb(142,11,0);
	padding-left: 10px;
	margin-top: 15px;
}
header .logo {
	text-decoration: none;
}
 .menu {
	 position: absolute;
	float: right;
	 top: 70px;
	 right: 70px;
	font-weight: normal;
	color:  rgb(142,11,0);
	display: block;
	
}

header .menu a{
	
	display: inline-block;
	text-decoration: none;
	 font-size: 1em;
    color: #ffffff;
    margin: 5px 5px 5px;
    padding: 5px;    
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid brown;
	background-color: brown;
    text-shadow: #444444 1px 1px;
}
header .menu a:hover {
    transform: scale(1.05, 1.05);
    background-color: #2222ff;
    border-color: #ffffff;
}

	.clearfix {
    clear: both;
}
h
.about {
	
	padding-left: 25px;
	margin-left: 25px;
	
	}
 iframe {
	display: block;
	margin: 15px auto 0 auto;
}
.picture1 {
	float:left;
 width:30%px;
	padding: 10px 10px 10px 10px;
}
.container2 .trip{
	vertical-align: top;
}
h1{
	text-align: center;
	font-size: 1.7em;
	letter-spacing: 0.2em;
	color: rgb(142,11,0);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	text-transform: uppercase;
}
.container2 .trip:nth-child(even){
    float: right;
}

.container2 .trip:hover {
    background: linear-gradient(#cccccc, #dddddd);
    border: 1px solid #888888;
}

.container2 .trip img {
    width: 50%;
    float: left;
    margin: 10px 10px 10px 0;
}
 
 
.container2 .trip img:nth-child(odd) {
    float: right;
    margin: 10px 0 10px 10px;
}
.trip{
	float:left;
	width: 45%;
	padding: 10px 10px 10px 10px;
	
	margin: 10px;
}
 
.trip h2{
	text-align: center;
	font-size: 1.0em;
	text-transform: uppercase;
	font-weight: bold;
	color:  rgb(142,11,0);
}
.clearfix {
    clear: both;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	height: 40px;
	border-top: 2px solid silver;
	text-align: center;
	padding-top: 10px;
	color: rgb(142,11,0);
	background: linear-gradient(to top,#d48bc8, #fff );
}
.gallery {
	width: 100%;
}
 

.gallery  img {
	width: 47%;
	margin: 10px 10px 10px 20px;
}